<table>
    <thead>
        <tr>
            <th>ID de entidad</th>
            <th>Nombre de entidad <br/>
                <button (click)="orderNameToggle($event)">DES</button>
            </th>
            <th>Número de identificación de la entidad</th>
            <th>Fecha de expiración <br/>
                <button (click)="orderDateToggle($event)">DES</button>
            </th>
            <th>Nombre de contacto</th>
            <th>Correo de contacto</th>
            <th>Dirección IP</th>
            <th>Logo o imagen</th>
            <th>acciones</th>
        </tr>
    </thead>
    <tbody>
       <app-entity-row *ngFor="let entity of entities" 
       [entity] = "entity"
       (deleteClicked)="deleteRow($event)"
       (editClicked) = "saveEditedRow($event)"
       ></app-entity-row>
    </tbody>
</table>
