<section *ngIf="tableHiden">

    <form [formGroup] = "form" (ngSubmit)="submit()" novalidate>
      <div *ngFor="let prevEntity of entityPrevList; let i=index">
        <input type="checkbox" formArrayName="selectedEntities" [value]="prevEntity.entityId" (change)="onCheckboxChange($event)" 
        />
        {{ prevEntity.name}}
      </div>
      <button type="submit">Submit</button>
    </form>

    <div *ngIf="displayError" class="errorMessage">
      <p *ngFor="let message of messageError" >{{message}}</p>
    </div>

</section>

  <section *ngIf="tableHiden === false">
    <app-table-space
    [ListID] = "listID">

    </app-table-space>

    <button (click)="reset()">reset</button>
    
</section>

